In [1]:
#Step 1: Import Libs.
import pandas as pd
import datetime
print('Step 1 Done')

Step 1 Done

In [2]:
#Step 2: Define Dataset.
dataset = pd.read_csv('C:\\Users\\hp.DESKTOP-FHME33G\\Desktop\\Employee Sample Data - A.CSV', encoding='latin1')
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           1000 non-null   object
 1   Full Name      998 non-null    object
 2   Job Title      999 non-null    object
 3   Department     998 non-null    object
 4   Business Unit  1000 non-null   object
 5   Gender         999 non-null    object
 6   Ethnicity      993 non-null    object
 7   Age            994 non-null    float64
 8   Hire Date      993 non-null    object
 9   Annual Salary  989 non-null    object
 10  Bonus %        992 non-null    object
 11  Country        998 non-null    object
 12  City           998 non-null    object
 13  Exit Date      85 non-null     object
dtypes: float64(1), object(13)
memory usage: 109.5+ KB
None

In [3]:
#Step 3: Display Dataset.
pd.options.display.max_rows = 1000
print(dataset.head()) #Display the first five rows.

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT
4  E01639        Austin Vo               Sr. Analyst    Finance

            Business Unit  Gender  Ethnicity   Age   Hire Date Annual Salary  \
0  Research & Development  Female      Black  55.0    4/8/2016     $141,604
1           Manufacturing    Male      Asian  59.0  11/29/1997      $99,975
2     Speciality Products  Female  Caucasian  50.0  10/26/2006     $163,099
3           Manufacturing  Female  Caucasian  26.0   9/27/2019      $84,913
4           Manufacturing    Male      Asian  55.0  11/20/1995      $95,409

  Bonus %        Country       City   Exit Date
0    15%   United States    Seattle  10/16/2021
1     0%           China  Chongqing         NaN
2    20%   United States    Chicago         NaN
3     7%   United States    Chicago         NaN
4     0%   United States    Phoenix         NaN

In [4]:
#Step 4: Start with cleaning Data.
dataset_clean = dataset.copy()
dsc = dataset_clean
print('Define New Variable for Cleaning and For Back Up')

Define New Variable for Cleaning and For Back Up

In [5]:
#Step 4.1: See if there Duplicate Values.
# If no duplicates are found, print a message indicating no duplicates

duplicates = dsc.duplicated()
if not duplicates.any():
    print("There are no duplicate values.")
else:
    print(duplicates)

There are no duplicate values.

In [6]:
#Step 4.2: Deal with Empty Values.
#First of all, we need to display the Empty Values.
#Note we can replacde the Department with (Not Mention in the data).
dsc.dropna(subset=['Full Name'], inplace= True) #who is the employee?
dsc.dropna(subset=['Job Title'], inplace= True) # What is he work?
dsc.dropna(subset=['Department'], inplace= True) # Because it 2 rows and will not effect on analysis + no default value.
dsc.dropna(subset=['Hire Date'], inplace= True) # Because most of the information are lost.
print(dsc.info())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      986 non-null    object
 7   Age            987 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  984 non-null    object
 10  Bonus %        987 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      84 non-null     object
dtypes: float64(1), object(13)
memory usage: 115.8+ KB
None

In [7]:
#Second Step replace with Values:
#Column 6: Ethnicity.

#First define the county:
print(dsc['Country'].unique())

#Second define the Ethincity.
print(dsc['Ethnicity'].unique())

['United States' 'China' 'Brazil']
['Black' 'Asian' 'Caucasian' nan 'Latino']

In [8]:
#Based On this we decide the default value:
country_ethnicity_mapping = {
    'United States': 'Caucasian',
    'China': 'Asian',
    'Brazil': 'Latino',
}

# Function to replace missing ethnicity based on country
def map_ethnicity(row):
    if pd.isnull(row['Ethnicity']) and row['Country'] in country_ethnicity_mapping:
        return country_ethnicity_mapping[row['Country']]
    else:
        return row['Ethnicity']

dsc['Ethnicity'] = dsc.apply(map_ethnicity, axis=1)
print(dsc.info())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            987 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  984 non-null    object
 10  Bonus %        987 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      84 non-null     object
dtypes: float64(1), object(13)
memory usage: 115.8+ KB
None

In [9]:
#Column 7: Age, replace with median.
x = dsc["Age"].median()
dsc["Age"] = dsc["Age"].fillna(x)
print(dsc.info())
print()
print(f' The median value is {x}')

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  984 non-null    object
 10  Bonus %        987 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      84 non-null     object
dtypes: float64(1), object(13)
memory usage: 115.8+ KB
None

 The median value is 45.0

In [10]:
#Coloumn 9: Annual Salary.

#Because Annual Salary must be in type float but because it is object we should do these steps:
# Strip:
dsc['Annual Salary'] = dsc['Annual Salary'].str.strip()

# Remove the dollar sign '$' and commas ',' using regex:
dsc['Annual Salary'] = dsc['Annual Salary'].replace({'\\$': '', ',': ''}, regex=True)

# Convert the column to be float:
dsc['Annual Salary'] = pd.to_numeric(dsc['Annual Salary'], errors='coerce')

# Find the mean:
x = dsc['Annual Salary'].mean().round(2)

# Fill NaN values with the calculated mean
dsc['Annual Salary'] = dsc['Annual Salary'].fillna(x)

print(f'Mean of Annual Salary: {x}')

# Final check on the dataframe info
print(dsc.info())

#print head to check it work:
print(dsc['Annual Salary'].head())

#Note if We want to be more accurate, we need to groub each employee based on department and take the meean of each department.
#But for Simplcity, we take the mean for the whole Employee.

Mean of Annual Salary: 113326.7
<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  988 non-null    float64
 10  Bonus %        987 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      84 non-null     object
dtypes: float64(2), object(12)
memory usage: 115.8+ KB
None
0    141604.0
1     99975.0
2    163099.0
3     84913.0
4     95409.0
Name: Annual Salary, dtype: float64

In [11]:
dsc["Bonus %"] = dsc["Bonus %"].fillna('0%') #Because 0% is the default.
print(dsc.info())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  988 non-null    float64
 10  Bonus %        988 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      84 non-null     object
dtypes: float64(2), object(12)
memory usage: 115.8+ KB
None

In [12]:
dsc["Exit Date"] = dsc["Exit Date"].fillna('Still Working') #Assume that the Employee is working until today.
print(dsc.info())
print()
print(dsc['Exit Date'].head())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  988 non-null    float64
 10  Bonus %        988 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      988 non-null    object
dtypes: float64(2), object(12)
memory usage: 115.8+ KB
None

0       10/16/2021
1    Still Working
2    Still Working
3    Still Working
4    Still Working
Name: Exit Date, dtype: object

In [13]:
#Step 4.3: Check the Wrong Formate.
for column in dsc.columns:
    print(f"Column: {column}")
    print(dsc[column].value_counts().head())  # Shows unique values and their counts
    print("-" * 40) #Note we Make head to less display + If we want to see all values remove (head) function.

Column: EEID
EEID
E04972    3
E00276    3
E01499    3
E03349    3
E00717    3
Name: count, dtype: int64
----------------------------------------
Column: Full Name
Full Name
Ezra Simmons     2
Everly Walker    2
Hailey Lai       2
Rylee Yu         2
Miles Mehta      2
Name: count, dtype: int64
----------------------------------------
Column: Job Title
Job Title
Director          119
Sr. Manger        109
Vice President    104
Manager            98
Sr. Analyst        69
Name: count, dtype: int64
----------------------------------------
Column: Department
Department
IT                 235
Engineering        156
Sales              139
Human Resources    123
Marketing          120
Name: count, dtype: int64
----------------------------------------
Column: Business Unit
Business Unit
Manufacturing             264
Speciality Products       263
Corporate                 234
Research & Development    227
Name: count, dtype: int64
----------------------------------------
Column: Gender
Gender
Female    513
Male      475
Name: count, dtype: int64
----------------------------------------
Column: Ethnicity
Ethnicity
Asian        402
Caucasian    264
Latino       249
Black         73
Name: count, dtype: int64
----------------------------------------
Column: Age
Age
45.0    72
55.0    49
48.0    31
36.0    30
52.0    30
Name: count, dtype: int64
----------------------------------------
Column: Hire Date
Hire Date
10/20/2011    3
11/29/2010    3
4/17/2021     2
10/23/2009    2
3/18/2019     2
Name: count, dtype: int64
----------------------------------------
Column: Annual Salary
Annual Salary
113326.7    4
146140.0    2
157057.0    2
70165.0     2
177443.0    2
Name: count, dtype: int64
----------------------------------------
Column: Bonus %
Bonus %
0%      517
10%      34
15%      33
7%       26
12%      25
Name: count, dtype: int64
----------------------------------------
Column: Country
Country
United States    633
China            217
Brazil           138
Name: count, dtype: int64
----------------------------------------
Column: City
City
Seattle     118
Columbus    110
Miami       108
Phoenix     107
Austin       99
Name: count, dtype: int64
----------------------------------------
Column: Exit Date
Exit Date
Still Working    904
7/17/2020          2
5/20/2021          1
10/16/2021         1
3/9/2020           1
Name: count, dtype: int64
----------------------------------------

In [14]:
#Based on This, We need to change Hire and Exit Date to date Formate.

#Hire Date:
dsc['Hire Date'] = pd.to_datetime(dsc['Hire Date']).dt.date
print(dsc.info())
print()
print(dsc['Hire Date'].head())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  988 non-null    float64
 10  Bonus %        988 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      988 non-null    object
dtypes: float64(2), object(12)
memory usage: 115.8+ KB
None

0    2016-04-08
1    1997-11-29
2    2006-10-26
3    2019-09-27
4    1995-11-20
Name: Hire Date, dtype: object

In [15]:
#Exit Date:
#Exit Date has value still working we need to deal with it:
dsc['Exit Date'] = dsc['Exit Date'].apply(lambda x: pd.NaT if pd.isna(x) else x)
dsc['Exit Date'] = dsc['Exit Date'].apply(lambda x: x if x == "Still Working" else pd.to_datetime(x, errors='coerce').date())


print(dsc.info())
print()
print(dsc['Exit Date'].head())
print(dsc['Hire Date'].head())

<class 'pandas.core.frame.DataFrame'>
Index: 988 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EEID           988 non-null    object
 1   Full Name      988 non-null    object
 2   Job Title      988 non-null    object
 3   Department     988 non-null    object
 4   Business Unit  988 non-null    object
 5   Gender         988 non-null    object
 6   Ethnicity      988 non-null    object
 7   Age            988 non-null    float64
 8   Hire Date      988 non-null    object
 9   Annual Salary  988 non-null    float64
 10  Bonus %        988 non-null    object
 11  Country        988 non-null    object
 12  City           988 non-null    object
 13  Exit Date      988 non-null    object
dtypes: float64(2), object(12)
memory usage: 115.8+ KB
None

0       2021-10-16
1    Still Working
2    Still Working
3    Still Working
4    Still Working
Name: Exit Date, dtype: object
0    2016-04-08
1    1997-11-29
2    2006-10-26
3    2019-09-27
4    1995-11-20
Name: Hire Date, dtype: object

In [16]:
#Step 4.4 Wrong Vlaues:

#Based on dataset the Wrong Value: EEID, Age. 
#We need to check if date are vaild on Exit Date and Hire date.
#We need check if Exit Date is after Hire Date.

print('The Wrong Values are in EEID and Age')

The Wrong Values are in EEID and Age

In [17]:
#Check if Hire Date is Vaild Date.

def check_hire_date_validity(df):
    invalid_rows = []

    for index, value in df['Hire Date'].items():
        try:
            # Try to parse the date (change the format if needed)
            pd.to_datetime(value, errors='raise')
        except Exception:
            invalid_rows.append(index)

    if invalid_rows:
        print("Invalid 'Hire Date' found in the following row(s):")
        for row in invalid_rows:
            print(f"Row {row}: {df.loc[row, 'Hire Date']}")
    else:
        print("All 'Hire Date' values are valid.")

check_hire_date_validity(dsc)
print(dsc['Hire Date'].head())

All 'Hire Date' values are valid.
0    2016-04-08
1    1997-11-29
2    2006-10-26
3    2019-09-27
4    1995-11-20
Name: Hire Date, dtype: object

In [18]:
# Check if Exit Date is Valid Date 

def check_exit_date_validity(df):
    invalid_rows = []

    for index, value in df['Exit Date'].items():
        # Skip validation if the person is still working
        if isinstance(value, str) and value.strip().lower() == "still working":
            continue
        try:
            pd.to_datetime(value, errors='raise')
        except Exception:
            invalid_rows.append(index)

    if invalid_rows:
        print("Invalid 'Exit Date' found in the following row(s):")
        for row in invalid_rows:
            print(f"Row {row}: {df.loc[row, 'Exit Date']}")
    else:
        print("All 'Exit Date' values are valid (including 'Still Working').")


check_exit_date_validity(dsc)
print(dsc['Exit Date'].head())

All 'Exit Date' values are valid (including 'Still Working').
0       2021-10-16
1    Still Working
2    Still Working
3    Still Working
4    Still Working
Name: Exit Date, dtype: object

In [19]:
#Check if Column Exit Date is eariler or larger than Exit Date.
#Note that the function Assume that are dates are vaild.
#We do this after we check if all dates are vaild or not. 
def check_exit_date_after_hire_date(df):
    invalid_rows = []

    for index, row in df.iterrows():
        hire_date = pd.to_datetime(row['Hire Date'])

        exit_date = row['Exit Date']
        # Skip if employee is still working
        if isinstance(exit_date, str) and exit_date.strip().lower() == "still working":
            continue

        exit_date = pd.to_datetime(exit_date)

        if exit_date < hire_date:
            invalid_rows.append(index)

    if invalid_rows:
        print("Exit Date is earlier than Hire Date in the following row(s):")
        for row in invalid_rows:
            print(f"Row {row}: Hire Date = {df.loc[row, 'Hire Date']} | Exit Date = {df.loc[row, 'Exit Date']}")
    else:
        print("All Exit Dates are valid and later than Hire Dates.")
        
check_exit_date_after_hire_date(dsc)

All Exit Dates are valid and later than Hire Dates.

In [20]:
#Column 0: EEID. (Because it must be uinque)
# Get the number of rows in the DataFrame
n = len(dsc)

# Generate new EEIDs starting from E001, E002, ...
dsc['EEID'] = ['E' + str(i).zfill(3) for i in range(1, n + 1)]

# Display first few rows to confirm
print(dsc[['EEID', 'Full Name']].head())

   EEID        Full Name
0  E001      Emily Davis
1  E002    Theodore Dinh
2  E003     Luna Sanders
3  E004  Penelope Jordan
4  E005        Austin Vo

In [21]:
#Column 7: Age. (Because this report from 2021).
dsc['Age'] = dsc['Age'] + 4
# Display the updated dataframe info and the first few rows to verify
print(dsc['Age'].head())

0    59.0
1    63.0
2    54.0
3    30.0
4    59.0
Name: Age, dtype: float64

In [22]:
#Finally, Check the duplicate value again with out, column EEID.

duplicates = dsc.drop('EEID', axis=1).duplicated()

# If no duplicates are found, print a message indicating no duplicates
if not duplicates.any():
    print("There are no duplicate values.")
else:
    print(duplicates)

There are no duplicate values.

In [23]:
#Step 5: Change first Five Rows Using for Loop and Input Function:

#Method 1: Using Input Fucntion to change values Manually.
'''
for i in range(5):
    print(f"Current values in row {i}: {dsc.iloc[i]}")  # Print the current row values
    for col in dsc.columns:  # Iterate over each column
        new_value = input(f"Enter new value for '{col}' in row {i}: ")
        dsc.at[i, col] = new_value  # Update the value for the current cell
'''

#Method 2: For Simplicity using Dictionray. 
row1 = {
    'EEID': 'E001',
    'Full Name': 'Mohammad Baker',
    'Job Title': 'Data and AI Engineer',
    'Department': 'IT',
    'Business Unit': 'Research & Development',
    'Gender': 'Male',
    'Ethnicity': 'Asian',
    'Age': 24.0,
    'Hire Date': '2025-01-01',
    'Annual Salary': 1500.0,
    'Bonus %': '15%',
    'Country': 'Jordan',
    'City': 'Amman',
    'Exit Date': 'Still Working'
}

row2 = {
    'EEID': 'E002',
    'Full Name': 'Sara Ahmed',
    'Job Title': 'Software Developer',
    'Department': 'Engineering',
    'Business Unit': 'Technology',
    'Gender': 'Female',
    'Ethnicity': 'Middle Eastern',
    'Age': 27.0,
    'Hire Date': '2022-08-15',
    'Annual Salary': 2200.0,
    'Bonus %':'10%',
    'Country': 'Jordan',
    'City': 'Zarqa',
    'Exit Date': '2024-11-01'
}

row3 = {
    'EEID': 'E003',
    'Full Name': 'Ali Hassan',
    'Job Title': 'Systems Analyst',
    'Department': 'IT',
    'Business Unit': 'Infrastructure',
    'Gender': 'Male',
    'Ethnicity': 'Middle Eastern',
    'Age': 31.0,
    'Hire Date': '2021-04-10',
    'Annual Salary': 1800.0,
    'Bonus %': '8%',
    'Country': 'Jordan',
    'City': 'Irbid',
    'Exit Date': 'Still Working'
}

row4 = {
    'EEID': 'E004',
    'Full Name': 'Layla Youssef',
    'Job Title': 'UI/UX Designer',
    'Department': 'Design',
    'Business Unit': 'Product',
    'Gender': 'Female',
    'Ethnicity': 'African',
    'Age': 29.0,
    'Hire Date': '2020-12-05',
    'Annual Salary': 2000.0,
    'Bonus %': '12%',
    'Country': 'Jordan',
    'City': 'Amman',
    'Exit Date': '2023-06-30'
}

row5 = {
    'EEID': 'E005',
    'Full Name': 'Omar Nasser',
    'Job Title': 'Cloud Engineer',
    'Department': 'DevOps',
    'Business Unit': 'Cloud Services',
    'Gender': 'Male',
    'Ethnicity': 'Asian',
    'Age': 26.0,
    'Hire Date': '2023-03-20',
    'Annual Salary': 2100.0,
    'Bonus %': '9%',
    'Country': 'Jordan',
    'City': 'Aqaba',
    'Exit Date': 'Still Working'
}
custom_rows = pd.DataFrame([row1, row2, row3, row4, row5])

# Reset the index to match the first 5 rows
custom_rows.index = dsc.index[:5]

# Replace the first 5 rows with the custom ones
dsc.loc[dsc.index[:5]] = custom_rows

# Print the updated DataFrame
print(dsc.head())

#Note if you want to test Method 1, Remove the Comment on it and Make a comment in Method 2.

   EEID       Full Name             Job Title   Department  \
0  E001  Mohammad Baker  Data and AI Engineer           IT
1  E002      Sara Ahmed    Software Developer  Engineering
2  E003      Ali Hassan       Systems Analyst           IT
3  E004   Layla Youssef        UI/UX Designer       Design
4  E005     Omar Nasser        Cloud Engineer       DevOps

            Business Unit  Gender       Ethnicity   Age   Hire Date  \
0  Research & Development    Male           Asian  24.0  2025-01-01
1              Technology  Female  Middle Eastern  27.0  2022-08-15
2          Infrastructure    Male  Middle Eastern  31.0  2021-04-10
3                 Product  Female         African  29.0  2020-12-05
4          Cloud Services    Male           Asian  26.0  2023-03-20

   Annual Salary Bonus % Country   City      Exit Date
0         1500.0     15%  Jordan  Amman  Still Working
1         2200.0     10%  Jordan  Zarqa     2024-11-01
2         1800.0      8%  Jordan  Irbid  Still Working
3         2000.0     12%  Jordan  Amman     2023-06-30
4         2100.0      9%  Jordan  Aqaba  Still Working

In [24]:
#Step 6: Find the Largest Salary. 

dsc['Annual Salary'] = pd.to_numeric(dsc['Annual Salary'], errors='coerce')

# Assuming the 'Annual Salary' column exists in the DataFrame 'dsc'
row_with_largest_salary = dsc.loc[dsc['Annual Salary'].idxmax()]

# Convert to DataFrame to display it in a structured table format similar to 'head()'
largest_salary_df = pd.DataFrame([row_with_largest_salary])

# Print the row with the largest salary
print(largest_salary_df)

     EEID     Full Name       Job Title Department  Business Unit  Gender  \
989  E978  Raelynn Rios  Vice President      Sales  Manufacturing  Female

    Ethnicity   Age   Hire Date  Annual Salary Bonus %        Country  \
989    Latino  47.0  2016-08-21       258498.0    35%   United States

         City      Exit Date
989  Columbus  Still Working

In [25]:
#Step 7: Group 1.
dsc['Age'] = pd.to_numeric(dsc['Age'], errors='coerce')
dsc['Annual Salary'] = pd.to_numeric(dsc['Annual Salary'], errors='coerce')

average_by_department = dsc.groupby('Department').agg(
    average_age=('Age', 'mean'),
    average_salary=('Annual Salary', 'mean')
)

# Print the result
print(average_by_department)

                 average_age  average_salary
Department
Accounting         47.656250   123146.947917
Design             29.000000     2000.000000
DevOps             26.000000     2100.000000
Engineering        49.611465   108159.159873
Finance            49.085470   123105.017094
Human Resources    48.398374   118216.843089
IT                 48.072650    96668.106838
Marketing          47.216667   129663.033333
Sales              47.604317   111225.338129

In [26]:
#Step 8: Group 2.

# Group by 'Department' and 'Ethnicity', and calculate max age, min age, and median salary
grouped_by_dept_ethnicity = dsc.groupby(['Department', 'Ethnicity']).agg(
    max_age=('Age', 'max'),
    min_age=('Age', 'min'),
    median_salary=('Annual Salary', 'median')
)

# Print the result
print(grouped_by_dept_ethnicity)

                                max_age  min_age  median_salary
Department      Ethnicity
Accounting      Asian              68.0     29.0       114893.0
                Black              55.0     34.0        91853.0
                Caucasian          66.0     30.0       121159.5
                Latino             66.0     30.0        92317.0
Design          African            29.0     29.0         2000.0
DevOps          Asian              26.0     26.0         2100.0
Engineering     Asian              69.0     29.0        91230.0
                Black              60.0     31.0        74412.0
                Caucasian          68.0     29.0        95639.0
                Latino             68.0     31.0        96818.0
                Middle Eastern     27.0     27.0         2200.0
Finance         Asian              68.0     29.0       125730.0
                Black              69.0     29.0       131652.0
                Caucasian          68.0     29.0        98946.0
                Latino             69.0     29.0       122829.0
Human Resources Asian              68.0     29.0       125871.5
                Black              59.0     29.0       142318.0
                Caucasian          68.0     30.0       104162.0
                Latino             69.0     33.0       101985.0
IT              Asian              69.0     24.0        89494.0
                Black              65.0     32.0        73317.0
                Caucasian          69.0     30.0        81069.5
                Latino             68.0     29.0        83403.0
                Middle Eastern     31.0     31.0         1800.0
Marketing       Asian              69.0     29.0       147752.0
                Black              69.0     31.0        86075.5
                Caucasian          69.0     29.0       113135.0
                Latino             69.0     33.0        97063.5
Sales           Asian              68.0     29.0        89528.5
                Black              69.0     30.0        94246.0
                Caucasian          67.0     30.0        96092.0
                Latino             65.0     30.0       113269.0

In [27]:
#Step 9: Save the Work as Excel File

# Assuming `dsc`, `average_by_department`, and `grouped_by_dept_ethnicity` are already created and cleaned
# Define the path where you want to save the Excel file
output_path = "C:\\Users\\hp.DESKTOP-FHME33G\\Desktop\\final_employee_data.xlsx"

# Create a writer and write each DataFrame to a different sheet
with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
    dsc.to_excel(writer, sheet_name='Cleaned Data', index=False)
    average_by_department.to_excel(writer, sheet_name='Department Grouping')
    grouped_by_dept_ethnicity.to_excel(writer, sheet_name='Dept & Ethnicity Grouping')

print(f"Excel file saved successfully at: {output_path}")

Excel file saved successfully at: C:\Users\hp.DESKTOP-FHME33G\Desktop\final_employee_data.xlsx

In [28]:
#Step 10: Save the Work as CSV File


# Define base path where the files will be saved
base_path = "C:\\Users\\hp.DESKTOP-FHME33G\\Desktop\\"

# Save each DataFrame to a separate CSV file
dsc.to_csv(base_path + "cleaned_data.csv", index=False)
average_by_department.to_csv(base_path + "department_grouping.csv")
grouped_by_dept_ethnicity.to_csv(base_path + "dept_ethnicity_grouping.csv")

print("CSV files saved successfully at your Desktop.")

CSV files saved successfully at your Desktop.